.nav-tabs {
    border-bottom: 1px solid #ddd;

    li {
        background-color: #588bb8;
        border-radius: 4px 4px 0 0;
        margin-right: 3px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        a {
            border: none;
            color: white;
            margin-right: 0;
            cursor: pointer;
        }

        .close {
            padding: 0 3px;
        }

        &.active {
            border-bottom: none;
            background-color: white;

            a {
                color: black;
            }
        }
    }

    li:not(:first-child) a {
        margin-right: 0;
    }

    .nav-item {
        margin-bottom: -1px;

        a {
            padding: 10px 15px;
            border: none;
            color: white;
        }
    }
}

.nav > li > a:hover {
    background-color: transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 1em;
}
