<div class="well">
    <h2>Enter a zipcode:</h2>
    <input type="text" #zipcode placeholder="Zipcode" class="form-control" />

    <br />
    <button class="btn btn-primary" (click)="addLocation(zipcode.value)">
        Add location
    </button>
</div>
<!-- Error message for Location -->
<p
    *ngIf="isLocationError$ | async as error"
    [ngStyle]="{ color: 'red', fontWeight: 'bold', textAlign: 'center' }"
>
    {{ error }}
</p>
<!-- Error message on loading current conditions fails -->
<p
    *ngIf="hasLoadCurrentConditionError$ | async as error"
    [ngStyle]="{ color: 'red', fontWeight: 'bold', textAlign: 'center' }"
>
    {{ error.error.message }}
</p>
